<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</nav>

<h1>Patchin post with id</h1>
<p id="entryId" th:text="${entry.id}"></p>


<input type="text" id="title" th:value="${entry.diaryTitle}"/><br>
<input type="text" id="entry" th:value="${entry.diaryText}"/><br>
<input type="text" id="date" th:value="${entry.date}"/><br>
<input type="text" id="image" th:value="${entry.image}"/><br>

<button onclick="patchDiary()" type="button" class="btn btn-primary">Save</button>


<script type="text/javascript">
    const title = document.getElementById("title");
    const entry = document.getElementById("entry");
    const date = document.getElementById("date");
    const image = document.getElementById("image");
    const entryId = document.getElementById("entryId");

    const patchDiary = () => {
        const data = {
            id: entryId.innerText,
            diaryTitle: title.value,
            date: date.value,
            image: image.value,
            diaryText: entry.value
        }

        console.log(data)

        fetch("/diary/edit/" + data.id, {
            method: "PATCH",
            body: JSON.stringify(data),
            headers: { 'content-type': 'application/json'},
        }).then(res => console.log(res)).then(window.location("/"));
    }

</script>
</body>


</html>

