<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <a href="addEntry">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add entry</button>
        </a>
        </form>
    </div>

</nav>
<div th:each="entry: ${entries}" class="list-group w-75 p-3 ">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <img th:src="${entry.image}" />
            <h5 th:text="${entry.diaryTitle}" class="mb-1"></h5>
            <small th:text="${entry.date}" ></small>
        </div>
        <p th:text="${entry.diaryText}" class="mb-1"></p>
    </a>
    <input th:onclick="'javascript:editEntry(' + ${entry.id} + ')'" class="btn btn-primary" type="button" value="Edit">
    <input th:onclick="'javascript:deleteEntry(' + ${entry.id} + ')'"  class="btn btn-danger" type="button" value="Delete">
</div>
</body>

<script type="text/javascript">

   const deleteEntry = (id) => {
       fetch("/diary/delete/" + id, {method: "DELETE"}).then(res => {
           document.location.reload();
       });
   }

   const editEntry = (id) => {
       window.location = "/edit/"+ id;
   }

</script>
</html>

